* {
  margin: 0;
}

.App {
    font-family: 'Roboto', sans-serif;
    padding: 41px 52px 20px 48px;
    background: #FAFAFA;
    height: 100vh;
}

.app__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 32px;
    color: #222222;
    margin: 0;
    margin-bottom: 40px;
    height: 40px;
    align-self: center;
}

